
<div>
    <h2><span data-translate="rosmiApp.supplier.detail.title">Supplier</span> {{vm.supplier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.supplier.name">Name</span></dt>
        <dd>
            <span>{{vm.supplier.name}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.supplier.address">Address</span></dt>
        <dd>
            <span>{{vm.supplier.address}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.supplier.phone">Phone</span></dt>
        <dd>
            <span>{{vm.supplier.phone}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.supplier.email">Email</span></dt>
        <dd>
            <span>{{vm.supplier.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="supplier-detail.edit({id:vm.supplier.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
