
<div>
    <h2><span data-translate="rosmiApp.branchOffice.detail.title">Branch Office</span> {{vm.branchOffice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.branchOffice.name">Name</span></dt>
        <dd>
            <span>{{vm.branchOffice.name}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.branchOffice.address">Address</span></dt>
        <dd>
            <span>{{vm.branchOffice.address}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.branchOffice.phone">Phone</span></dt>
        <dd>
            <span>{{vm.branchOffice.phone}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.branchOffice.email">Email</span></dt>
        <dd>
            <span>{{vm.branchOffice.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="branch-office-detail.edit({id:vm.branchOffice.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
