<div>
    <h2 data-translate="rosmiApp.tireSupplier.home.title">Tire Suppliers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tire-supplier.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="rosmiApp.tireSupplier.home.createLabel">
                        Create new Tire Supplier
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'rosmiApp.tireSupplier.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                      

                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="tire.name"><span data-translate="rosmiApp.tireSupplier.tire">Tire</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplier.name"><span data-translate="rosmiApp.tireSupplier.supplier">Supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publicPrice"><span data-translate="rosmiApp.tireSupplier.publicPrice">Public Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insurancePrice"><span data-translate="rosmiApp.tireSupplier.insurancePrice">Insurance Price</span> <span class="glyphicon glyphicon-sort"></span></th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tireSupplier in vm.tireSuppliers track by $index">
                  <td>
                      <a ui-sref="tire-detail({id:tireSupplier.tire.id})">{{tireSupplier.tire.name}}</a>
                  </td>
                  <td>
                      <a ui-sref="supplier-detail({id:tireSupplier.supplier.id})">{{tireSupplier.supplier.name}}</a>
                  </td>
                    <td>{{tireSupplier.publicPrice}}</td>
                    <td>{{tireSupplier.insurancePrice}}</td>


                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tire-supplier-detail({id:tireSupplier.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tire-supplier.edit({id:tireSupplier.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tire-supplier.delete({id:tireSupplier.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
