
<div>
    <h2><span data-translate="rosmiApp.tireSupplier.detail.title">Tire Supplier</span> {{vm.tireSupplier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.tireSupplier.publicPrice">Public Price</span></dt>
        <dd>
            <span>{{vm.tireSupplier.publicPrice}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.tireSupplier.insurancePrice">Insurance Price</span></dt>
        <dd>
            <span>{{vm.tireSupplier.insurancePrice}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.tireSupplier.supplier">Supplier</span></dt>
        <dd>
            <a ui-sref="supplier-detail({id:vm.tireSupplier.supplier.id})">{{vm.tireSupplier.supplier.name}}</a>
        </dd>
        <dt><span data-translate="rosmiApp.tireSupplier.tire">Tire</span></dt>
        <dd>
            <a ui-sref="tire-detail({id:vm.tireSupplier.tire.id})">{{vm.tireSupplier.tire.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="tire-supplier-detail.edit({id:vm.tireSupplier.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
