
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTireSupplierLabel" data-translate="rosmiApp.tireSupplier.home.createOrEditLabel">Create or edit a Tire Supplier</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tireSupplier.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tireSupplier.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rosmiApp.tireSupplier.publicPrice" for="field_publicPrice">Public Price</label>
            <input type="number" class="form-control" name="publicPrice" id="field_publicPrice"
                    ng-model="vm.tireSupplier.publicPrice"
                    required min="0" />
            <div ng-show="editForm.publicPrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.publicPrice.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.publicPrice.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.publicPrice.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rosmiApp.tireSupplier.insurancePrice" for="field_insurancePrice">Insurance Price</label>
            <input type="number" class="form-control" name="insurancePrice" id="field_insurancePrice"
                    ng-model="vm.tireSupplier.insurancePrice"
                    required min="0" />
            <div ng-show="editForm.insurancePrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.insurancePrice.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.insurancePrice.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.insurancePrice.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="rosmiApp.tireSupplier.supplier" for="field_supplier">Supplier</label>
            <select class="form-control" id="field_supplier" name="supplier" ng-model="vm.tireSupplier.supplier" ng-options="supplier as supplier.name for supplier in vm.suppliers track by supplier.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rosmiApp.tireSupplier.tire" for="field_tire">Tire</label>
            <select class="form-control" id="field_tire" name="tire" ng-model="vm.tireSupplier.tire" ng-options="tire as tire.name for tire in vm.tires track by tire.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
