
<div>
    <h2><span data-translate="rosmiApp.carBrand.detail.title">Car Brand</span> {{vm.carBrand.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.carBrand.name">Name</span></dt>
        <dd>
            <span>{{vm.carBrand.name}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.carBrand.code">Code</span></dt>
        <dd>
            <span>{{vm.carBrand.code}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="car-brand-detail.edit({id:vm.carBrand.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
