
<div>
    <h2><span data-translate="rosmiApp.tireImage.detail.title">Tire Image</span> {{vm.tireImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.tireImage.imagePath">Image Path</span></dt>
        <dd>
            <span>{{vm.tireImage.imagePath}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.tireImage.tire">Tire</span></dt>
        <dd>
            <a ui-sref="tire-detail({id:vm.tireImage.tire.id})">{{vm.tireImage.tire.imagePath}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="tire-image-detail.edit({id:vm.tireImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
