
<div>
    <h2><span data-translate="rosmiApp.carModel.detail.title">Car Model</span> {{vm.carModel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.carModel.name">Name</span></dt>
        <dd>
            <span>{{vm.carModel.name}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.carModel.code">Code</span></dt>
        <dd>
            <span>{{vm.carModel.code}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.carModel.carBrand">Car Brand</span></dt>
        <dd>
            <a ui-sref="car-brand-detail({id:vm.carModel.carBrand.id})">{{vm.carModel.carBrand.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="car-model-detail.edit({id:vm.carModel.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
