<div>
    <h2 data-translate="rosmiApp.tire.home.title">Tires</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tire.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="rosmiApp.tire.home.createLabel">
                        Create new Tire
                    </span>
                </button>
            </div>
            <div class="col-xs-7 col-xs-offset-1 no-padding-right">
              <form name="searchForm" class="form-inline tires">
                <div class="form-group">
                  <label data-translate="rosmiApp.tire.name"
                  for="field_supplier">Supplier</label>
                  <input type="text" class="form-control" ng-model="vm.tireName"
                  id="searchQuery" placeholder="{{ 'rosmiApp.tire.home.search' | translate }}">
                </div>
                <div class="form-group">
                  <span>
                      <label data-translate="rosmiApp.tire.supplier"
                      for="field_supplier">Supplier</label>
                      <select class="form-control" id="field_supplier"
                      name="supplier" ng-model="vm.filterSupplier"
                      ng-options="supplier as supplier.name for supplier in vm.suppliers track by supplier.id">
                      <option value="" data-translate="rosmiApp.tire.selectOneOption"></option>
                    </select>
                  </span>
                </div>
                <div class="form-group">
                  <span>
                      <label data-translate="rosmiApp.tire.branchOffice"
                      for="field_branchOffice" >Branch Office</label>
                      <select class="form-control" id="field_branchOffice"
                      name="branchOffice" ng-model="vm.filterBranchOffice"
                      ng-options="branchOffice as branchOffice.name for branchOffice in vm.branchOffices track by branchOffice.id">
                      <option value="" data-translate="rosmiApp.tire.selectOneOption"></option>
                      </select>
                  </span>
                </div>
                <div class="form-group">
                    <label data-translate="rosmiApp.tire.carModel" for="field_carModel">Car Model</label>
                    <select class="form-control" id="field_carModel" name="carModel"
                    ng-model="vm.filterCarModel"
                    ng-options="carModel as carModel.name for carModel in vm.carModels track by carModel.id">
                      <option value="" data-translate="rosmiApp.tire.selectOneOption"></option>
                  </select>
                </div>
                <div class="form-group">
                    <label data-translate="rosmiApp.tire.tireBrand" for="field_tireBrand">Tire Brand</label>
                    <select class="form-control" id="field_tireBrand" name="tireBrand"
                    ng-model="vm.filterTireBrand" ng-options="tireBrand as tireBrand.name for tireBrand in vm.tireBrands track by tireBrand.id">
                      <option value="" data-translate="rosmiApp.tire.selectOneOption"></option>
                    </select>
                </div>
                <span>
                    <button class="btn btn-info mt-20 ml-20" ng-click="vm.loadAll()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <span>
                    <button class="btn btn-info mt-20" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
              </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="rosmiApp.tire.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="size"><span data-translate="rosmiApp.tire.size">Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tireBrand.name"><span data-translate="rosmiApp.tire.tireBrand">Tire Brand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tireBrand.name"><span data-translate="rosmiApp.tire.tireBrand">Tire Brand</span> <span class="glyphicon glyphicon-sort"></span></th> <!-- reemplazar por imagen -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tire in vm.tires track by tire.id">
                    <td><a ui-sref="tire-detail({id:tire.id})">{{tire.id}}</a></td>
                    <td>{{tire.name}}</td>
                    <td>{{tire.size}}</td>
                    <td>
                        <a ui-sref="tire-brand-detail({id:tire.tireBrand.id})">{{tire.tireBrand.name}}</a>
                    </td>
                    <td class="tire-results-image">
                      <img  ng-src="{{ tire.imagePreviewPath }}" alt="" class="img-rounded img-responsive center-block"/>

                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-tires">
                            <button type="submit"
                                    ui-sref="tire-detail({id:tire.id})"
                                    class="btn btn-info btn-sm btn-block">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tire.edit({id:tire.id})"
                                    class="btn btn-primary btn-sm btn-block">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tire.delete({id:tire.id})"
                                    class="btn btn-danger btn-sm btn-block">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
