
<div>
    <h2><span data-translate="rosmiApp.tire.detail.title">Tire</span> {{vm.tire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rosmiApp.tire.name">Name</span></dt>
        <dd>
            <span>{{vm.tire.name}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.tire.size">Size</span></dt>
        <dd>
            <span>{{vm.tire.size}}</span>
        </dd>
        <dt><span data-translate="rosmiApp.tire.branchOffice">Branch Office</span></dt>
        <dd>
            <span ng-repeat="branchOffice in vm.tire.branchOffices">
                <a ui-sref="branch-office-detail({id: branchOffice.id})">{{branchOffice.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="rosmiApp.tire.carModel">Car Model</span></dt>
        <dd>
            <span ng-repeat="carModel in vm.tire.carModels">
                <a ui-sref="car-model-detail({id: carModel.id})">{{carModel.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="rosmiApp.tire.tireBrand">Tire Brand</span></dt>
        <dd>
            <a ui-sref="tire-brand-detail({id:vm.tire.tireBrand.id})">{{vm.tire.tireBrand.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="tire-detail.edit({id:vm.tire.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
