
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTireLabel" data-translate="rosmiApp.tire.home.createOrEditLabel">Create or edit a Tire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tire.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rosmiApp.tire.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" required
                    ng-model="vm.tire.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rosmiApp.tire.size" for="field_size">Size</label>
            <input type="text" class="form-control" name="size" id="field_size" required
                    ng-model="vm.tire.size"
                     />
        </div>

        <div class="form-group">
            <label data-translate="rosmiApp.tire.branchOffice" for="field_branchOffice">Branch Office</label>
            <select class="form-control" id="field_branchOffice" multiple name="branchOffice" ng-model="vm.tire.branchOffices" ng-options="branchOffice as branchOffice.name for branchOffice in vm.branchoffices track by branchOffice.id" required></select>
        </div>
        <div class="form-group">
            <label data-translate="rosmiApp.tire.carModel" for="field_carModel">Car Model</label>
            <select class="form-control" id="field_carModel" multiple name="carModel" ng-model="vm.tire.carModels" ng-options="carModel as carModel.name for carModel in vm.carmodels track by carModel.id" required></select>
        </div>
        <div class="form-group">
            <label data-translate="rosmiApp.tire.tireBrand" for="field_tireBrand">Tire Brand</label>
            <select class="form-control" id="field_tireBrand" name="tireBrand" ng-model="vm.tire.tireBrand" ng-options="tireBrand as tireBrand.name for tireBrand in vm.tirebrands track by tireBrand.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
          <label>Cargar Imágenes</label>
          <input type="file" nv-file-select="" uploader="uploader" multiple name="files" />
          <!-- <div class="col-md-9" style="margin-bottom: 40px"> -->
          <br>
          <!-- <p>Queue length: {{ uploader.queue.length }}</p> -->
          <span ng-if="uploader.queue.length > 0">
            <table class="table">
              <thead>
                <tr>
                    <th width="50%">Nombre</th>
                    <th ng-show="uploader.isHTML5">Tamaño</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td> <strong>{{ item.file.name }}</strong>
                    <!-- Image preview -->
                    <!--auto height-->
                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                    <!--auto width-->
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                    <!--fixed width and height -->
                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                  </td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

                  <td nowrap>
                    <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"> <span class="glyphicon glyphicon-upload"></span> Upload</button> -->
                    <!-- <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading"> <span class="glyphicon glyphicon-ban-circle"></span> Cancel</button> -->
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"> <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </span>
          <!-- <div>
            <div>Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
              <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length"> <span class="glyphicon glyphicon-upload"></span> Upload all</button>
              <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading"> <span class="glyphicon glyphicon-ban-circle"></span> Cancel all</button>
              <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length"> <span class="glyphicon glyphicon-trash"></span> Remove all</button>
          </div> -->
          <!-- </div> -->

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
